/* #header {
    background-image: linear-gradient(120deg, #cc85ec, #37cd82);
    color: white;
} */

/* #header {
    background-image: linear-gradient(120deg, #e9bbff, #6fcd9e);
    color: black;
} */

/* nav {
    background-color: #c37ee2;
    color: white;
} */

/* nav {
    background-color: #e9bbff;
} */

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}
